# fly.toml app configuration file generated for a11yguard-backend on 2025-10-26T11:10:31Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'a11yguard-backend'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 4000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024